<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block title %}
        {% if title %}
            <title>Flask - {{ title }}</title>
            {% else %}
            <title>Flask Block</title>
        {% endif %}
    {% endblock title %}
</head>
<body>

<div class="wrapper">

{% block menu %}
    <header class="header">
        <ul class="main_menu">
            <li><a href="#"><p>Main</p></a></li>
            <li><a href="#"><p>Blog</p></a></li>
            <li><a href="#"><p>Registration</p></a></li>
            <li><a href="#"><p>Log-in</p></a></li>
            <li><a href="#"><p>Account</p></a></li>
            <li><a href="#"><p>Create</p></a></li>
            <li><a href="#"><p>Exit</p></a></li>
        </ul>
        

    </header>
{% endblock menu %}

{% block content %}
{% endblock content %}

{% block main_page %}
     <div class="content">

    </div>
{% endblock main_page %}

{% block footer %}

    <footer class="footer">All rights reserved<br>
        &#169; Valery Kopilevich 2025
    </footer>

{% endblock footer %}


</div>
</body>
</html>