{% extends "base.html" %}


{% block main_page %}
<div class="wrapper">
    <div class="info">
        <div class="description">
            <p class="names">Full stack development</p>

            <div class="desc">
                <ul class="checkmark">
                    <li><a href="{{ url_for('html') }}">Html</a></li>
                    <li><a href="{{ url_for('css') }}">Css</a></li>
                    <li><a href="{{ url_for('python') }}">Python</a></li>
                    <li><a href="{{ url_for('java_script') }}">Java Script</a></li>
                    <li><a href="{{ url_for('flask') }}">Flask</a></li>
                    <li><a href="{{ url_for('django') }}">Django</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>
{% endblock main_page %}



