{% extends "base.html" %}


{% block main_page %}
<div class="wrapper">
    <div class="info">
        <div class="description">
            <p class="names">Full stack development</p>
        </div>
        <div class="desc">
            <ul>
                <li><a href=""></a>Html</li>
                <li><a href=""></a>Css</li>
                <li><a href=""></a>Python</li>
                <li><a href=""></a>Java Script</li>
                <li><a href=""></a>Flask</li>
                <li><a href=""></a>Django</li>
            </ul>

        </div>


    </div>



</div>
{% endblock main_page %}



